@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

body {
  font-family: 'Inter', sans-serif;
  color: #6b4c1c;

  max-width: 500px;
  margin: 0 auto;

  background-color: #fffffd;

  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}


/* 로딩 애니메이션 */
@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.loading {
  animation: pulse 1.5s ease-in-out infinite;
}